[Desktop Entry]
Type=Application
Name=CassetteCat
Comment=Local-first desktop music player
Exec=CassetteCat %U
Icon=io.github.samyyy2311.CassetteCat
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupNotify=true
MimeType=audio/flac;audio/mpeg;audio/mp4;audio/ogg;audio/wav;audio/x-wav;
