[Desktop Entry]
Type=Application
Name=CassetteCat
Comment=Local-first desktop music player
Exec=CassetteCat %U
Icon=io.github.samyyy2311.CassetteCat
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupNotify=true
MimeType=audio/aac;audio/flac;audio/mpeg;audio/mp4;audio/ogg;audio/opus;audio/wav;audio/x-aiff;audio/x-m4a;audio/x-ms-wma;audio/x-wav;
